.button {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

.button:global(.is-next) {
  left: 0;
  cursor: url('./viewer-next.svg') 20 20, pointer;
}

.button:global(.is-prev) {
  right: 0;
  cursor: url('./viewer-prev.svg') 20 20, pointer;
}
